<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/jqx/jqx.base.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/datepicker3.css")" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/Scripts/jquery-1.11.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jqx-all.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-datepicker.js")" type="text/javascript"></script>  
    <script src="@Url.Content("~/Scripts/locales/bootstrap-datepicker.ru.js")" type="text/javascript"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="@Url.Content("~/Scripts/html5shiv.min.js")"></script>
        <script src="@Url.Content("~/Scripts/respond.min.js")"></script>
        <![endif]-->
</head>

<body>

    <input type="hidden" id="main_site_id" name="main_site_id" value="">
    <input type="hidden" id="flag" name="flag" value="0">


@Html.Partial("_Header")
@Html.Partial("_Footer")

<script>
    function SelectPost() {
        $('#customWindow').jqxWindow('open');
    }

    $(document).ready(function () {
        $('#customWindow').jqxWindow({ width: 500,
            height: 500, resizable: false,
            cancelButton: $('#cancelButton'),
            autoOpen: false,
            initContent: function () {
                $('#buttonOk').jqxButton({ width: '80px', disabled: true });
                $('#buttonCancel').jqxButton({ width: '80px' });
            }
        });



        var url = '@Url.Action("GetSites", "Ajax")';

        // prepare the data
        var source =
{
    dataType: "json",
    dataFields: [
        { name: 'SiteCode', type: 'string' },
        { name: 'Name', type: 'string' },
        { name: 'TypeName', type: 'string' },
        { name: 'SiteId', type: 'string' },
        { name: 'Id', type: 'string' }
    ],
    id: 'id',
    url: url
};
        var dataAdapter = new $.jqx.dataAdapter(source);

        $("#dataTable").jqxDataTable(
{
    width: 450,
    height: 400,
    source: dataAdapter,
    pageable: true,
    pagerButtonsCount: 3,
    pageSize: 50,
    filterable: true,
    columnsResize: true,
    ready: function () {
        $("#dataTable").jqxDataTable('hideColumn', 'name');
    },
    columns: [
        { text: 'Код', dataField: 'SiteCode', width: 100 },
        { text: 'Станция', dataField: 'Name', width: 200 },
        { text: 'Тип', dataField: 'TypeName', width: 200 }
    ]
});


        $('#dataTable').on('rowSelect',
            function (event) {
                var args = event.args;
                var row = args.row;
                var index = args.index;
                var boundIndex = args.boundIndex;
                var key = args.key;
                var dataField = args.dataField;
                var clickEvent = args.originalEvent;
                var value = $("#dataTable").jqxDataTable('getCellValue', index, 'SiteCode');

                $('#buttonOk').jqxButton({ width: '80px', disabled: false });

            });

        $('#dataTable').on('rowUnselect',
            function (event) {
                var args = event.args;
                var row = args.row;
                var index = args.index;
                var boundIndex = args.boundIndex;
                var key = args.key;
                var dataField = args.dataField;
                var clickEvent = args.originalEvent;
                var value = $("#dataTable").jqxDataTable('getCellValue', index, 'SiteCode');

                $('#buttonOk').jqxButton({ width: '80px', disabled: true });

            });

        $('#buttonOk').on('click', function () {
            var selection = $("#dataTable").jqxDataTable('getSelection');
            var value = $("#dataTable").jqxDataTable('getCellValue', selection[0], 'SiteCode');
            $('#customWindow').jqxWindow('close');
            $('#MenuHeaderSiteName').text(selection[0].Name);
            $('#main_site_id').val(selection[0].SiteId);
            LoadParams(selection[0].SiteId);
            LoadDataValues(selection[0].SiteId);
        });


        $('#buttonCancel').on('click', function () {
            $('#customWindow').jqxWindow('close');
        });




    });



</script>


<script>

    
</script>


        <div id="customWindow">
            <div id="customWindowHeader">
                <span id="captureContainer" style="float: left">Find </span>
            </div>
            <div id="customWindowContent" style="overflow: hidden">
                <div style="margin: 10px">
                    <div id="dataTable"></div>                        
                    <div style="float: left">
                        <br />
                        <input type="button" value="Выбрать" style="margin-bottom: 5px;" id="buttonOk" />
                        <input type="button" value="Отмена" id="buttonCancel" />
                    </div>                    
                </div>
            </div>
        </div>



    @RenderBody()
</body>
</html>
