<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/jqx/jqx.base.css")" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/Scripts/jquery-1.11.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jqx-all.js")" type="text/javascript"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="@Url.Content("~/Scripts/html5shiv.min.js")"></script>
        <script src="@Url.Content("~/Scripts/respond.min.js")"></script>
        <![endif]-->
</head>

<body>

@Html.Partial("_Header")
@Html.Partial("_Footer")

<script>
    function SelectPost() {
        $('#customWindow').jqxWindow('open');
    }

    $(document).ready(function () {
        $('#customWindow').jqxWindow({ width: 400,
            height: 110, resizable: false,
            cancelButton: $('#cancelButton'),
            autoOpen: false,
            initContent: function () {
                $('#searchTextButton').jqxButton({ width: '80px', disabled: true });
                $('#cancelButton').jqxButton({ width: '80px', disabled: false });
                $('#matchCaseCheckBox').jqxCheckBox({ width: '150px' });
            }
        });

    });



</script>



<div id="customWindow">
                <div id="customWindowHeader">
                    <span id="captureContainer" style="float: left">Find </span>
                </div>
                <div id="customWindowContent" style="overflow: hidden">
                    <div style="margin: 10px">
                        Fi<u>n</u>d what:
                        <input type="text" style="width: 175px; border: 1px solid #aaa" id="searchTextInput" />
                        <div style="float: right">
                            <input type="button" value="Find Next" style="margin-bottom: 5px;" id="searchTextButton" /><br />
                            <input type="button" value="Cancel" id="cancelButton" />
                        </div>
                        <br />
                        <br />
                        <div id="matchCaseCheckBox">
                        Match case</div>
                </div>
            </div>
        </div>



    @RenderBody()
</body>
</html>
