<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/jqx/jqx.base.css")" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/Scripts/jquery-1.11.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jqx-all.js")" type="text/javascript"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="@Url.Content("~/Scripts/html5shiv.min.js")"></script>
        <script src="@Url.Content("~/Scripts/respond.min.js")"></script>
        <![endif]-->
</head>

<body>

@Html.Partial("_Header")
@Html.Partial("_Footer")

<script>
    function SelectPost() {
        $('#customWindow').jqxWindow('open');
    }

    $(document).ready(function () {
        $('#customWindow').jqxWindow({ width: 500,
            height: 500, resizable: false,
            cancelButton: $('#cancelButton'),
            autoOpen: false,
            initContent: function () {
                $('#buttonOk').jqxButton({ width: '80px', disabled: false });
                $('#buttonCancel').jqxButton({ width: '80px' });
            }
        });


        var url = '@Url.Action("GetSites", "Ajax")';

        // prepare the data
        var source =
{
    dataType: "json",
    dataFields: [
        { name: 'Name', type: 'string' },
        { name: 'TypeName', type: 'string' }
    ],
    id: 'id',
    url: url
};
        var dataAdapter = new $.jqx.dataAdapter(source);

        $("#dataTable").jqxDataTable(
{
    width: 450,
    height: 400,
    source: dataAdapter,
    pageable: true,
    pagerButtonsCount: 3,
    pageSize: 50,
    filterable: true,
    columnsResize: true,

    ready: function () {
        $("#dataTable").jqxDataTable('hideColumn', 'name');
    },
    columns: [
        { text: 'Name', dataField: 'Name', width: 200 },
        { text: 'TypeName', dataField: 'TypeName', width: 200 }
    ]
}); 


    });



</script>


<script>

    
</script>


        <div id="customWindow">
            <div id="customWindowHeader">
                <span id="captureContainer" style="float: left">Find </span>
            </div>
            <div id="customWindowContent" style="overflow: hidden">
                <div style="margin: 10px">
                    <div id="dataTable"></div>                        
                    <div style="float: left">
                        <br />
                        <input type="button" value="Выбрать" style="margin-bottom: 5px;" id="buttonOk" />
                        <input type="button" value="Отмена" id="buttonCancel" />
                    </div>                    
                </div>
            </div>
        </div>



    @RenderBody()
</body>
</html>
