@{
    ViewBag.Title = "GetAllDataValue";
}

@{
    Layout = "";
}

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                   Дата UTC
            </th>
            @foreach (var v in ViewBag.VariableList)
            {             
                <th>
                    @v
                </th>
            }
        </tr>
    </thead>
    <tbody>        
        @foreach (var item in ViewBag.UtcDateStrings)
        {
            <tr>
                <td>
                    @String.Format("{0:dd.MM.yyyy HH:mm:ss}",DateTime.ParseExact(@item, "yyyyMMddHHmmss",
                                       System.Globalization.CultureInfo.InvariantCulture))
                    
                </td>
                @foreach (var v in ViewBag.VariableList)
                {             
                    <th>                        
                        @if (ViewBag.dictionary_in.ContainsKey(v))
                        {
                            
                                int isFinded = 0;
                            
                            foreach (var value in ViewBag.dictionary_in[v])
                            {
                                if (String.Format("{0:yyyyMMddHHmmss}", value.DateUTC) == item)
                                {
                                    {
                                        isFinded = 1;
                                    }
                                    
                                   @value.Value
                                      
                              break;
                                }
                            }
                            if(@isFinded==0)                            
                            {
                                <em>Данных нет</em>
                            }
                        }
                    </th>
                }
            
            </tr>
        }
    </tbody>
</table>

<!--
<hr />
<div role="tabpanel">

  <ul class="nav nav-tabs" role="tablist">
    @{
        int index = -1;
    }
    @foreach (var item in ViewBag.Variables)
    {
        {
            index++;
        }

        if (index == 0)
        {
            <li role="presentation" class="active"><a href="#datavalues_tab_@(index)" aria-controls="datavalues_tab_@(index)" role="tab" data-toggle="tab">@item.Name</a></li>   
        }
        else
        {
            <li role="presentation"><a href="#datavalues_tab_@(index)" aria-controls="datavalues_tab_@(index)" role="tab" data-toggle="tab">@item.Name</a></li>
        }

    }    
  </ul>

  <div class="tab-content">
    @{
        index = -1;
        string is_active = "";        
    }
    @foreach (var item in ViewBag.Variables)
    {
        {
            index++;
            is_active = "";
        }
        if (index == 0)
        {
            {
                is_active = "active";
            }
        }
            <div role="tabpanel" class="tab-pane @(is_active)" id="datavalues_tab_@(index)">
        
        
                    @if (ViewBag.dictionary_in.ContainsKey(item.Name))
                    {
                                <table class="table table-bordered table-hover">
                                    <thead> 
                                        <tr>
                                            <th>Дата UTC</th>
                                            <th>Дата местное</th>
                                            <th>Значение</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var value in ViewBag.dictionary_in[item.Name])
                                        {
                                            <tr>
                                                <td>@value.DateUTC</td>
                                                <td>@value.Date</td>
                                                <td>@value.Value</td>                            
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                    }
                    else
                    {
                            <p>Измерения отсутствуют</p>
                    }
        </div>        
        
    }

  </div>

</div>

<!--
<div id='jqxTabsDataValues'>
    <ul>
        @foreach (var item in ViewBag.Variables)
        {
            <li>
                @item.Name
            </li>
        }        
    </ul>

    @foreach (var item in ViewBag.Variables)
    {
        <div>
            @if (ViewBag.dictionary_in.ContainsKey(item.Name))
            {
                    <table class="table table-bordered table-hover">
                        <tbody>

                            @foreach (var value in ViewBag.dictionary_in[item.Name])
                            {
                                <tr>
                                    <td>@value.Value</td>                            
                                </tr>
                            }
                        </tbody>
                    </table>
            }
            else
            {
                <p>Измерения отсутствуют</p>
            }
        </div>
    }
    
</div>
-->



